.main {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* INPUT / BUTTONS */
.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;

  background: #ccc;
  color: #333;
}
.btn-primary {
  background: #116cd6;
  color: #fff;
}
.btn small {
  font-weight: normal;
}
.btn + .btn {
  margin-left: 15px;
}

input[type=text] {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: none;
  margin-left: 10px;
  margin-bottom: 15px;
}
